.admonition-style .admonition-title::before 
{
    content: '⌨️' !important;
}

.admonition-work-in-progress 
{
    background: WhiteSmoke !important;

    .admonition-title
    {
        background: LightGray !important;

        &::before 
        {
            content: '🚧' !important;
        }
    }
}

html[data-theme="dark"] .admonition-work-in-progress
{
    background: DimGray !important;

    .admonition-title
    {
        background: #3b3b3b !important;
    }
}