<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xsi:schemaLocation="NLog NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	  throwConfigExceptions="true"
      autoReload="true"
	  
      internalLogFile="logs/nlog.log"
      internalLogLevel="Warning">

	<variable name="sharedLayout">
		<layout xsi:type="SimpleLayout" text="${longdate} ${pad:padding=5:inner=${level:uppercase=true}} ${logger:shortName=true} :: ${message} ${exception}" />
	</variable>

	<targets>

		<target xsi:type="File" name="desomnia" fileName="${var:logDir}/desomnia.log" layout="${sharedLayout}" deleteOldFileOnStartup="true" />
		<target xsi:type="File" name="network"	fileName="${var:logDir}/network/${scopeproperty:item=HostName:whenEmpty=network}.log" layout="${sharedLayout}" 
				deleteOldFileOnStartup="true" />

		<target xsi:type="File" name="usage" fileName="${var:logDir}\usage.log"
				layout="${date:format=HH\:mm}     ${event-properties:item=tokens}"
				archiveFileName="${var:logDir}\archive\usage-{###}.log" 
				archiveNumbering="Date" 
				archiveDateFormat="yyyy-MM-dd" 
				archiveEvery="Day" maxArchiveDays="10"
				footer="Total sleep duration: ${sleep-duration}" 
				writeFooterOnArchivingOnly="True" />

		<target xsi:type="File" name="sleep" fileName="${var:logDir}\usage.log" 
			layout="zzzZZZzzz... (${message})" />

		<target xsi:type="Console" name="console" layout="${pad:padding=5:inner=${level:uppercase=true}} :: ${message} ${exception}" />

	</targets>

	<rules>
		<logger name="Program" minlevel="Info" writeTo="console" />
		<logger name="MadWizard.Desomnia.Network.*" minlevel="Info" writeTo="console" />

		<logger name="MadWizard.Desomnia.SystemUsageInspector" level="Info" writeTo="usage" />
		<logger name="MadWizard.Desomnia.Power.SleepWatch" level="Info" writeTo="sleep" final="true" />
		<logger name="MadWizard.Desomnia.Network.*" minlevel="Trace" writeTo="network" final="true" />

		<logger name="MadWizard.Desomnia.*" minlevel="Debug" writeTo="desomnia" />
	</rules>
</nlog>
