<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xsi:schemaLocation="NLog NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogFile="logs\internal.log"
      internalLogLevel="Info" >

	<variable name="logs" value="${currentdir:dir=logs}" />

	<targets>
		<target xsi:type="File" name="minion" fileName="${logs}\minion.log"
				layout="${longdate} ${pad:padding=5:inner=${level:uppercase=true}} SID=${processinfo:property=SessionId} ${logger:shortName=true} :: ${message}  ${exception}"
				concurrentWrites="True"/>
	</targets>

	<rules>
		<logger name="MadWizard.Desomnia.Minion.*" minlevel="Debug" writeTo="minion" />
	</rules>
</nlog>
